header {
    position: relative;
    width: 100%;
    height:100%;
    text-align: center;
    color: #060606;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h3 {
    padding-top: 20px;
}

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
  background-color: #fff;
  margin: 0px;
}

a {
    color: #060606;
}

/* mouse over link */
a:hover,
a:active {
    color: #FF5733;
}


.logo {
    margin-bottom:-5px;
    width: 120px;
}

@font-face {
    font-family: "Nobel Bold";
     src: url(/css/nobel.woff);
}
#thc {
    text-decoration: none;
    font-weight: 900;
    font-size: 28px;
    margin: 10px 0;
    color: #adadad;
}
.hiring {
    color: #030303;
}
#thc:hover, #thc:active, .hiring:hover, .hiring:active {
    color: #FF5733 !important;
}
#thc:hover>.hiring,#thc:active>.hiring {
    color: #FF5733 !important;
}
.spacer {
    margin-bottom : 10px;
}
h2 {
    padding-top: 30px;
}
